*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  width: 60vw;
  position: relative;
  cursor: url('/public/Untitled.png') 50 50, auto;
}

.imgContainer > img {
  width: 100%;
}

.contextCt {
  position: absolute;
  background-color: rgb(184, 208, 174);
}

.contextMenu {  
  list-style-type: none;
  padding: 0;
  margin: 0
}

.choice {
  border: 1px solid black;
  padding: 3px;
  cursor: pointer;
}

.choice:hover {
  background-color: rgb(182, 182, 182);
}

.choice:active {
  background-color: rgb(246, 246, 246);
}